<h1>Business Card Show</h1>

<h2> <%= @business_card.name%> </h2>
<div>
<p><%= @business_card.email %></p>
</div>
<p><%= @business_card.web_site %></p>
</div>
<p><%= @business_card.phone_number %></p>
</div>
<br>
